MONGODB_URI_BASE=mongodb://127.0.0.1:27017
# For MongoDB Atlas: mongodb+srv://<user>:<pass>@cluster.xxxxx.mongodb.net/?retryWrites=true&amp;w=majority (remove DB name, put in DB_NAME)

DB_NAME=ecommerce_app_db
# WARNING: Do NOT use DB_NAME=test or containing 'test' - will throw error

PORT=3000
ADMIN_EMAIL=admin@example.com
# Clerk env vars...
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

